
Course04.Python-for-Data-Science-AI-and-Development/Week04.Working-with-Data-in-Python/.idea/Week04.Working-with-Data-in-Python.iml
Course04.Python-for-Data-Science-AI-and-Development/Week04.Working-with-Data-in-Python/.idea/modules.xml
course09-machine-learning-with-python/week05-recommender-systems/ml-latest/movies.csv
course09-machine-learning-with-python/week05-recommender-systems/ml-latest/links.csv
course09-machine-learning-with-python/week05-recommender-systems/ml-latest/ratings.csv
course09-machine-learning-with-python/week05-recommender-systems/ml-latest/README.txt
course09-machine-learning-with-python/week05-recommender-systems/ml-latest/tags.csv
course09-machine-learning-with-python/week05-recommender-systems/moviedataset.zip
